@import 'variables';
@import 'icons.css';

body {
    background-color: $rojo-naranja;
    color: $blanco;
    font-family: "Arial";
    font-size: 14px;
}

.o-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.o-header{
    background-color: $rojo-pastel;
    box-shadow: 0 1em 1.7em $rojo-fuerte;
    max-height: 200px;
    padding: 1em;
    background: linear-gradient(90deg, $rojo-fuerte 0%, $rojo-amanecer 35%, $rojo-fuerte 100%); 
    .o-header__logo{
        height: auto;
        width: 100%;
    }
}

.o-main{
    flex: 1;
    padding-top: 2em;
    padding-bottom: 2em;
}

.o-footer{
    background-color: $rojo-rosado;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 3em $rojo-fuerte;
    .o-footer__text{
    }
    
    .o-footer__link{
        color: $blanco;
    }
}

.o-container{
    display: flex;
    justify-content: space-between;flex-wrap: wrap;
    justify-content: center;
}

.lds-facebook {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    position: fixed;


}

.lds-facebook div {
display: inline-block;
position: absolute;
left: 6px;
width: 13px;
background: $rojo-amanecer;
animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
left: 6px;
animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
left: 26px;
animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
left: 45px;
animation-delay: 0;
}

.c-card{
    color: $rojo-fuerte;
    width: 18rem;
    margin-bottom: 1em;
    box-shadow: 0 0 2em $rojo-fuerte;

    .card-title{
        text-transform: capitalize;
    }
}

.c-pokedex{
    margin-top: 1em;
    .c-left-side{
        height: 360px;
        max-height: 360px;
        background-color: $rojo-fuerte;
        border-radius: 1em .5em .5em  3em;
        box-shadow: -8px 8px 0 $rojo-fuerte-dark;

    }
   
    .c-left-header{
        height: 40px;
        background-color: $rojo-fuerte-dark;
        border-radius: 1em .5em 0  0;
        position: relative;
        &:before{
            content: "";
            height: 67px;
            width: 220px;
            background-color: $rojo-fuerte-dark;
            position: absolute;
            z-index: 3;
            border-radius: 1em 0px 4em 0;
        }
    }

    .c-sensor{
        background-color: #50e1ef;
        height: 50px;
        width: 50px;
        border: 4px solid $blanco;
        position: relative;
        z-index: 4;
        border-radius: 51%;
        top: 6px;
        left: 13px;
        box-shadow: 0 0 13px #000;
        &:before{
            content: "";
            width: 30px;
            height: 15px;
            opacity: 0.4;
            position: absolute;
            transform: translate(-50%, -104%);
            background-color: $blanco;
            top: 50%;
            left: 50%;
            border-radius: 50%;
        }
    }

    .c-main-screen{
        background-color: $gris-rata;
        width: 80%;
        height: 190px;
        position: relative;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1.5em;
        padding: 1em;
    }
    
    .c-main-screen__screen{
        width: 90%;
        height: 70%;
        background-color: $blanco;
        border: 2px solid #000;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-content: center;
    }

    .c-main-screen__img{
        max-width: 90px;
        align-self: center;
    }

    .c-poke-button{
        cursor: pointer;
        height: 30px;
        width: 30px;
        background-color: $rojo-fuerte-dark;
        border-radius: 50%;
        background: linear-gradient(324deg, rgba(0,0,0,1) 0%, rgba(128,0,0,1) 48%, rgba(128,0,0,1) 69%, orange 90%); 

        &.c-poke-button--blue{
            background: linear-gradient(324deg, rgba(0,0,0,1) 0%, $azul-oceano 48%, $azul-oceano 90%); 
            border: 2px solid $blanco;
        }

        &.c-poke-button--big{
            height: 45px;
            width: 45px;
        }
    }

    .c-left-footer{
        position: relative;
        top: 68px;
    }
    
    .c-footer-controls{
        margin-left: 3em;
        display: flex;
        justify-content: space-around;
    }

    .c-poke-controls{
        margin-top: 1em;
        margin-left: 1em;
    }

    .c-cross-button{
        cursor: pointer;
        height: 60px;
        width: 20px;
        background-color: #000;
        position: relative;
        border-radius: 5px;
        &:before{
            content: "";
            height: 20px;
            border-radius: 5px;
            width: 60px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }   
    }

    .c-right-side{
        display: none;
    }

}

.c-link{
    color: $blanco;
    text-decoration: underline;
    font-size: 1.5em;
}

.u-capitalize{
    text-transform: capitalize;
}
@keyframes lds-facebook {
0% {
    top: 6px;
    height: 51px;
}
50%, 100% {
    top: 19px;
    height: 26px;
}
}
  
@media screen and (min-width: 768px){
    body{
        font-size: 16px;
    }
    
    .o-header{
        .o-header__logo{
            width: 250px;
        }
    }
    
    .o-container{
        justify-content: space-between;
    }

    .o-main{
        padding-top: 2.5em;
    }

    .c-card{
        width: 14rem;
        min-height: 140px;
    }

    .c-pokedex{
        display: flex;
        position: relative;
        width: 800px;
        .c-left-side{
            max-width: 400px;
            width: 400px;
        }
        .c-right-side{
            background-color: $rojo-fuerte;
            border-radius: 0 .5em 2.5em 0;
            bottom: 0;
            box-shadow: -12px 8px 0 $rojo-fuerte-dark;
            display: block;
            height: 320px;
            padding: 1em;
            position: absolute;
            right: 0;
            max-width: 400px;
            width: 400px;
            z-index: -3;
        }
        .c-reader{
            border-radius: 5px;
            width: 80%;
            height: 80%;
            background-image: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
            margin: 0 auto;
            padding: .5em;
        }
    }
}