@import 'variables';
@import 'icons.css';

body {
    background-color: $rojo-naranja;
    color: $blanco;
    font-family: "Arial";
    font-size: 14px;
}

.o-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.o-header{
    background-color: $rojo-pastel;
    box-shadow: 0 1em 1.7em $rojo-fuerte;
    max-height: 200px;
    padding: 1em;
    background: linear-gradient(90deg, $rojo-fuerte 0%, $rojo-amanecer 35%, $rojo-fuerte 100%); 
    .o-header__logo{
        height: auto;
        width: 100%;
    }
}

.o-main{
    flex: 1;
    padding-bottom: 2em;
}

.o-footer{
    background-color: $rojo-rosado;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 3em $rojo-fuerte;
    .o-footer__text{
    }
    
    .o-footer__link{
        color: $blanco;
    }
}

.o-container{
    display: flex;
    justify-content: space-between;flex-wrap: wrap;
    justify-content: center;
}

.lds-facebook {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    position: fixed;


}

.lds-facebook div {
display: inline-block;
position: absolute;
left: 6px;
width: 13px;
background: $rojo-amanecer;
animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
left: 6px;
animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
left: 26px;
animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
left: 45px;
animation-delay: 0;
}

.c-card{
    color: $rojo-fuerte;
    width: 18rem;
    margin-bottom: 1em;
    box-shadow: 0 0 2em $rojo-fuerte;

    .card-title{
        text-transform: capitalize;
    }
}

@keyframes lds-facebook {
0% {
    top: 6px;
    height: 51px;
}
50%, 100% {
    top: 19px;
    height: 26px;
}
}
  
@media screen and (min-width: 768px){
    body{
        font-size: 16px;
    }
    
    .o-header{
        .o-header__logo{
            width: 250px;
        }
    }
    
    .o-container{
        justify-content: space-between;
    }

    .o-main{
        padding-top: 2em;
    }

    .c-card{
        width: 14rem;
        min-height: 140px;
    }

}