$rojo-fuerte-dark: #8d100d;
$rojo-fuerte: #AD1612;
$rojo-pastel: #DC2E29;
$rojo-naranja: #EF5450;
$rojo-rosado: #FF7B78;
$rojo-amanecer: #FFA5A3;
$azul-oceano: #182A33;
$azul-rata: #5A6D76;
$blanco: #ffffff;
$azul-celeste: #50e1ef;